@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white;
    font-family: "Inria Sans", sans-serif;
  }

  html,
  body,
  #root {
    @apply h-full text-black;
  }
}

@layer components {
  .nav-header {
    @apply text-dark-green font-fugaz;
    font-size: 4rem;
    text-shadow: 0px 4px 4px rgba(109, 108, 108, 0.7);
  }

  .link-button-background {
    @apply px-12 py-4 text-2xl w-auto rounded-2xl;
    background: linear-gradient(180deg, #81f7cc 0%, #5fb697 100%);
    box-shadow: 0px 23.733px 47.467px 0px rgba(23, 44, 36, 0.26),
      0px 7.647px 7.647px 0px #86ffd4 inset,
      0px -7.647px 7.647px 0px #5aac8f inset;
  }

  .link-button-background:hover {
    background: linear-gradient(180deg, #60b898 0%, #80f5cb 100%);
    box-shadow: 0px 23.733px 47.467px 0px rgba(23, 44, 36, 0.24),
      0px 7.384px 7.384px 0px #85fed2 inset,
      0px -7.384px 7.384px 0px #5caf91 inset;
  }

  .landing-page-semicircle {
    @apply rounded-t-full;
    aspect-ratio: 2;
    width: 40%;
    background: linear-gradient(180deg, #c6c5c5 0%, #878787 100%);
    box-shadow: 0px 26.4px 52.8px 0px rgba(34, 34, 34, 0.33),
      0px 9.68px 9.68px 0px #cfcece inset, 0px -9.68px 9.68px 0px #7e7e7e inset;
  }

  .fade-in {
    animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
