@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white antialiased;
    font-family: "Inria Sans", sans-serif;
  }

  html,
  body,
  #root {
    @apply h-full text-black;
  }

  hr {
    @apply h-1 max-w-lg w-full bg-dark-grey rounded-l-full rounded-r-full border-0 mx-auto;
  }

  input,
  textarea {
    @apply mt-2 border-2 border-black rounded-2xl px-4 py-2 w-full text-lg;
  }
}

@layer components {
  .project-container {
    @apply max-w-app flex flex-col gap-24 mx-auto fade-in pb-24;
  }
}

@layer utilities {
  .gradient-semi-circle {
    background: linear-gradient(180deg, #c6c5c5 0%, #878787 100%);
    box-shadow: 0px 26.4px 52.8px 0px rgba(34, 34, 34, 0.33),
      0px 9.68px 9.68px 0px #cfcece inset, 0px -9.68px 9.68px 0px #7e7e7e inset;
  }

  .gradient-footer {
    background: linear-gradient(180deg, #fff 0%, #c4c4c4 100%);
    box-shadow: 0px 99.667px 199.333px 0px rgba(48, 48, 48, 0.3),
      0px 34.551px 34.551px 0px #fff inset,
      0px -34.551px 34.551px 0px #b8b8b8 inset;
  }

  .nav-header-text-shadow {
    text-shadow: 0px 4px 4px rgba(109, 108, 108, 0.7);
  }

  .project-header-text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .fade-in {
    animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .gradient-transition {
    @apply relative transition-all;
    z-index: 1;
    overflow: hidden;

    &::before {
      @apply absolute transition-all opacity-0 inset-0;
      z-index: -1;
      content: "";
    }

    &:hover,
    &:focus,
    &:active {
      &::before {
        @apply opacity-100;
      }
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .project-section-box {
    @apply text-white text-xl leading-normal;
    ul {
      @apply pl-6 gap-4 flex flex-col list-image-circle;
      li {
        @apply pl-2;
      }
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-text-out {
    animation: fade-text-out 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .fade-text-in {
    animation: fade-text-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @keyframes fade-text-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-text-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
}
